{
  "presets": [["@babel/env", { "modules": false }]],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup",
          "json",
          "json5",
          "bash",
          "go",
          "java",
          "python",
          "ruby",
          "sql"
        ],
        "plugins": [],
        "css": false
      }
    ]
  ]
}
